body{
margin:0;
font-family: "Poppins", sans-serif;
background:linear-gradient(180deg,#f3efe3,#769383);
color:white;
text-align:center;
}
/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background: #ffff;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
backdrop-filter:blur(10px);
margin-left: 30px;
width:90%;
height: 50px;
margin-top: 10px;
border-radius: 30px;
}

.logo{
font-weight:600;
color: #000;
}

.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:400;
transition:0.3s;
color: #000;
}

.nav-links a:hover{
opacity:0.7;
}
.hero{
padding:80px 20px;
animation:fade 2s;
}

@keyframes fade{
from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:translateY(0)}
}

.card{
background: linear-gradient(135deg, #0046FF,#001BB7);
backdrop-filter:blur(10px);
border-radius:15px;
padding:25px;
margin:20px auto;
width:400px;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

button{
padding:10px 18px;
margin:8px;
border:none;
border-radius:6px;
background:#00c6ff;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

input{
padding:10px;
width:80%;
border:none;
border-radius:5px;
margin:10px;
}

.progress-bar{
width:100%;
height:10px;
background:#ddd;
border-radius:10px;
}

#progress{
height:10px;
width:0%;
background:#00ff9d;
border-radius:10px;
}

#chatbox{
height:200px;
overflow:auto;
background:rgba(0,0,0,0.2);
padding:10px;
border-radius:8px;
margin-bottom:10px;
}